# Ignore build outputs
bin/
obj/

# Rider & VSCode settings
*.idea/
*.vscode/
*.suo
*.user
*.sln.docstates

# OS files
.DS_Store

# NuGet packages
*.nupkg
packages/
project.lock.json
*.nuget.g.props
*.nuget.g.targets
